.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.imageAndText {
    max-width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 12px;
}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {
    width: calc(100% - 60px);
    position: relative;
    padding: 12px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background: #0066CC;
    border-radius: 15px 15px 0 15px;
}

.text:after {
    content: "";
    position: absolute;
    left: calc(100% - 1px);
    bottom: 0;
    width: 5px;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #0066CC;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.messageText {
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.time {
    margin-right: 12px;
    font-weight: 600;
    font-size: 10px;
}