.input:focus {
    outline: 1px solid black;
}

.input {
    border-radius: 3px;
    height: 36px;
    width: 372px;
    padding: 8px 12px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.inputWrapper {
    position: relative;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    outline-color: #CC1439;
}

.error {
    position: absolute;
    top: -15px;
    left: 0;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    color: #CC1439;
}
