.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.error {
    margin-top: 7px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: #CC0000;
}

.input, .errorInput{
    border-radius: 3px;
    height: 36px;
    width: 372px;
    padding: 8px 12px;
}

.input {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    border: 1px solid #D1D1D1;
}

.input:focus {
    outline: 1px solid #D1D1D1
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {
    border: none;
    border-radius: 3px;
    max-height: 36px;
    padding: 8px 24px;
    color: white;
    background-color: rgba(0, 102, 204);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: rgba(0, 102, 204, 0.5);
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.greeting {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: black;
}
